---
import Image from "astro/components/Image.astro";
import Layout from "../../layouts/Layout.astro";
import SingleHeader from "../../components/layout/SingleHeader.astro";
import Chamada from "../../components/layout/Chamada.astro";

import NaturaGranjaViana from '../../assets/images/natura.webp';
import RoselandiaAlvorada from '../../assets/images/roselandia-alvorada.webp';
import AquaIbiuna from '../../assets/images/acqua-ibiuna.webp';
import ReservaNovaCaucaia from '../../assets/images/reserva-nova-caucaia.webp';
import HubBr from '../../assets/images/hub-br.webp';
import Empreendimentos from "../../components/layout/empreendimentos.astro";
---

<Layout title="Empreendimentos">
  <SingleHeader title="Empreendimentos"/>

  <section class="content-section">
    <div class="container">
      <Empreendimentos />
    </div>
    <!-- end container --> 
  </section>
  <!-- end content-section -->

  <Chamada />
</Layout>