---
import Image from "astro/components/Image.astro";
import SingleHeader from "../../components/layout/SingleHeader.astro";
import Chamada from "../../components/layout/Chamada.astro";
import Layout from "../../layouts/Layout.astro";

import iconFone from "../../assets/images/icon-phone.png";
import iconGlobal from "../../assets/images/icon-global.png";
import iconEmail from "../../assets/images/icon-email.png";
---

<Layout title="Contato">
  <SingleHeader title="Contato"/>
  <section class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="contact-box"> 
            <div class="mb-4">
              <Image src={iconGlobal} width="55" height="55" alt="Image" />
            </div>
            <h6>Visite-nos</h6>
            <p>Rua Henrique Monteiro, 90 - 5º andar - São Paulo</p>
            <p>Seg. a sex. De 9:00 às 17:00</p>
          </div>
          <!-- end contact-box --> 
        </div>
        <!-- end col-4 -->
        <div class="col-lg-4 col-md-6">
          <div class="contact-box"> 
            <div class="mb-4">
              <Image src={iconFone} width="55" height="55" alt="Image" />
            </div>
            <h6>Telefone</h6>
             <p>(11) 3812-8834</p>
             <br />
             <br />
             <br />
          </div>
          <!-- end contact-box --> 
        </div>
        <!-- end col-4 -->
        <div class="col-lg-4 col-md-6">
          <div class="contact-box"> 	
            <div class="mb-4">
              <Image src={iconEmail} width="55" height="55" alt="Image" />
            </div>
            <h6>Email</h6>
            <p><a href="mailto:contato@sancan.com.br">contato@sancan.com.br</a></p>
            <br />
            <br />
            <br />
          </div>
          <!-- end contact-box --> 
        </div>
        <!-- end col-4 -->
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end content-section -->
    <section class="content-section no-spacing">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-title text-left">
            <h6>ENTRE EM CONTATO</h6>
            <h2>Estamos aqui<br />para te ouvir.</h2>
          </div>
          <!-- end section-title --> 
        </div>
        <!-- end col-6 -->
        <div class="col-lg-6">
          <form class="contact-form" method="POST" onsubmit="event => event.preventDefault();return false">
            <div class="form-group">
              <span>Nome *</span>
              <input type="text" id="cname" required>
            </div>
            <div class="form-group">
              <span>E-mail *</span>
              <input type="email" id="cemail" required>
            </div>
            <div class="form-group">
              <span>Assunto *</span>
              <input type="text" id="csubject" required>
            </div>
            <div class="form-group">
              <span>Menssagem *</span>
              <textarea id="cmsg" required></textarea>
            </div>
            <div class="form-group">
              <button type="button" class="csend sendt">ENVIAR</button>
            </div>
            <div class="form-group cstatus"></div>  
          </form>
        </div>
      </div>
    </div>
  </section>

    <section class="content-section no-spacing">
    <iframe src="https://www.google.com/maps/embed/v1/place?q=Rua+Henrique+Monteiro,+90+-+Pinheiros,+São+Paulo+-+SP,+Brasil&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8" frameborder="0" class="google-maps" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </section>
  <!-- end content-section -->
  <Chamada />
</Layout>

<script src="../../assets/js/sendform.js"></script>

<script is:inline>
  const csendButton = document.querySelector('.csend');
  const cstatus = document.querySelector('.cstatus');
  
  csendButton.addEventListener('click', () => {
    let cname = document.getElementById('cname');
    let cemail = document.getElementById('cemail');
    let csubject = document.getElementById('csubject');
    let cmsg = document.getElementById('cmsg');

    cstatus.innerText = '';

    if(!cname.value || !cemail.value || !csubject.value || !cmsg.value) {
      cstatus.innerText = "Por favor, preencha todos os campos do formulário.";
      return;
    }
    
    csendmail(cname, cemail, csubject, cmsg);
  });


  const csendmail = async (name, email, subject, msg) => {
    try {
      csendButton.disabled = true;
      csendButton.innerHTML = 'ENVIANDO...';

      const data  = await fetch("/api/sendmail", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ 
          name: name.value, 
          email: email.value,
          subject: subject.value, 
          msg: msg.value
        })
      });

      const response = await data.json();
      cstatus.innerText = response.message;
      
      csendButton.innerHTML = 'ENVIAR';
      csendButton.disabled = false;

      name.value = '';
      email.value = '';
      subject.value = '';
      msg.value = '';

    } catch (error) {
      cstatus.innerText = 'Erro ao enviar mensagem';
      console.log(error);
    }
  }
</script>
