---
import { Image } from "astro:assets";
import Logo from '../../assets/images/logo-w.svg';
---

<section class="footer-bar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <figure class="logo"> 
          <Image src={Logo} alt="Sancan logo" width="212" height="50"> 
        </figure>
        <h2>Transformamos espaços para você realizar os seus sonhos.</b></h2>
      </div>
      <!-- end col-12  --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end footer-bar -->