---
import { Image } from "astro:assets";
import Logo from '../../../public/images/logo.svg';
---

<section class="footer-bar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <figure class="logo"> 
          <Image src={Logo} alt="Sancan logo" width="212" height="50"> 
        </figure>
        <h2>Seu sonho de morar bem começa aqui.</b></h2>
        <a href="#sales-specialist-form" class="button" data-fancybox>ENTRE EM CONTATO <i class="lni lni-arrow-right"></i></a>
        <div class="sales-representive">
          Nossa equipe está pronta para te atender: <b>11. 3812-8834</b></div>
        <!-- end sales-representive --> 
      </div>
      <!-- end col-12  --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end footer-bar -->