---
import '../assets/styles/bootstrap.min.css';
import '../assets/styles/global.css';
import '../assets/styles/fancybox.min.css';
import '../assets/styles/lineicons.css';
import '../assets/styles/odometer.min.css';
import '../assets/styles/swiper.min.css';

import Footer from '../components/layout/Footer.astro';
import Navigation from '../components/layout/Navigation.astro';

const { title, pageClass } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Desde 1954 atuando no setor de empreendimentos imobiliários">

			<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://www.sancan.com.br">
		<meta property="og:type" content="website">
		<meta property="og:title" content="SANCAN">
		<meta property="og:description" content="Desde 1954 atuando no setor de empreendimentos imobiliários">
		<meta property="og:image" content="https://sancan.vercel.app/og-image.png">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content=sancan.com.br">
		<meta property="twitter:url" content="https://www.sancan.com.br">
		<meta name="twitter:title" content="SANCAN">
		<meta name="twitter:description" content="Desde 1954 atuando no setor de empreendimentos imobiliários">
		<meta name="twitter:image" content="https://sancan.vercel.app/og-image.png">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

		<!-- FAVICON FILES -->
		<link href="/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
		<link href="/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
		<link href="/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
		<link href="/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
		<link href="/favicon.png" rel="shortcut icon">

		<meta name="generator" content={Astro.generator} />
		<title>SANCAN | {title}</title>
	</head>
	<body class={pageClass}>
		<div class="first-transition"></div>
		<!-- end first-transition -->
		<div class="page-transition"></div>
		<!-- end page-transition -->

		<Navigation />
		<slot />
		<Footer />

		<script is:inline src="/js/jquery.min.js"></script> 
		<script is:inline src="/js/bootstrap.min.js"></script> 
		<script is:inline src="/js/swiper.min.js"></script> 
		<script is:inline src="/js/fancybox.min.js"></script> 
		<script is:inline src="/js/odometer.min.js"></script> 
		<script is:inline src="/js/isotope.min.js"></script> 
		<script is:inline src="/js/scripts.js"></script>
		<script is:inline src="/js/sendform.js"></script>
	</body>
</html>
